body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  margin: 0;
  padding: 0;
  background: url(painel\ fundo.png) no-repeat center center / cover;
}

/* LOGO */
.logo {
  width: 200px;
  height: auto;
}

/* HERO SECTION */
.hero {
  background: url('manga-hero.jpg') center center / cover;
  padding: 100px 20px;
  text-align: center;
  position: relative;
}

.hero .container {
  max-width: 800px;
  margin: 0 auto;
}

.hero h2, .hero p {
  font-size: 2rem;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
  padding: 10px;
}

/* NAVIGATION */
nav#jorge ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: 1000px;
  padding: 0;
  margin: 0;
}

nav#jorge li {
  display: inline-block;
  background: #ffa39c;
  padding: 10px;
  margin: 2px;
  border-radius: 15px;
}

nav#jorge a {
  color: #000;
  text-decoration: none;
}

nav#jorge li:hover {
  background: #986561;
  transition: background 1s;
}

nav#jorge a:hover {
  color: #fff;
  text-decoration: underline;
}

/* BUTTONS */
.botao-link, .botao-voltar, .botao-concluir {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.botao-link {
  background: #ffa39c;
  color: #fff;
  font-size: 30px;
}

.botao-link:hover, .botao-voltar:hover, .botao-concluir:hover {
  background: #f38780;
}

.botao-concluir {
  background: #21a027;
  color: #fff;
}

.botao-concluir:hover {
  background: #156e1a;
}

.carrinho, .carrinho button {
  background: #ffa39c;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.carrinho i {
  margin-right: 8px;
}

.carrinho:hover, .carrinho-item button:hover {
  background: #f38780;
}

/* CONTACT FORM */
.contact-form, .produto-card, #calculoFrete {
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background: #4f5054;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  border: 4px solid #55575e;
  margin-bottom: 10px;
}

.contact-form button, #calculoFrete button {
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.contact-form button:hover, #calculoFrete button:hover {
  background: #45a049;
}

/* PRODUCT CATALOG */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.produto-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 25%;
  margin-bottom: 20px;
  transition: transform 0.3s;
  box-shadow: 0px 0px 5px #000;
}

.produto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.produto-info h2, .produto-info p {
  font-size: 1rem;
  margin: 0 0 10px;
}

.produto-info .descricao {
  color: #666;
}

.produto-info .preco {
  font-weight: bold;
  color: #a3a3a3;
}

/* ALERT & MODAL */
.promo-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #dbca0c;
  color: #000;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.promo-alert.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 20px);
}

.close-btn {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: #902e2e;
}

/* FOOTER */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* MISC STYLES */
.pesquisa-container {
  text-align: center;
  margin: 20px 0;
}

#barraPesquisa {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#barraPesquisa::placeholder {
  color: #888;
}
