body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(painel\ fundo.png);
    background-size: cover;
  }
  
  .logo {
    width: 200px;
    height: auto;/
  }
  
  .hero {
    background-image: url('manga-hero.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

.hero .container {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero h2, p {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}


  nav#jorge ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 1000px;
  }
  
  nav#jorge li {
    display: inline-block;
    background-color: #ffa39c;
    padding: 10px;
    margin: 2px;
    border-radius: 15px
  }
  
  nav#jorge h1 {
    display: none;
  }
  
  nav#jorge {
    display: block;
    
  }
  
  nav#jorge li:hover {
    background-color: #986561;
    transition: background-color 1s;
  }
  
  nav#jorge a {
    color: #000000;
    text-decoration: none;
  }
  
  nav#jorge a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  
  .maicon {
    max-width: 500px;
    margin: 0px auto;
  }
  
  p {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: italic;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 8;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
  }
  
  .contact-form {
    background-color: #383333;
    padding: 5%;
    border-radius: 15px;
    border: 4px solid #2c2d30;
    box-shadow: 0px 0px 5px #000;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    background-color: #4f5054;
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    border: 4px solid #55575e;
    border-radius: 5px;
    resize: vertical;
    color: white;
  }
  
  input[type="text"]::placeholder {
    color: #ffffff; 
  }
  
  input[type="email"]::placeholder {
    color: #fefbfb; 
  }
  textarea::placeholder {
    color: #ffffff; 
  }
  
  .contact-form button {
  
    background-color: #044a10;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px #2b2b2b;
  
  }
  
  .contact-form button:hover {
    background-color: #03300b;
  }
  
  .contact-form h2 {
    color: white;
  }
  
  .group {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .produto-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 25%;
    margin-bottom: 20px;
    transition: transform 0.3s;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    box-shadow: 0px 0px 2px;
  }
  
  .produto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .produto-card img {
    width: 45%;
    height: auto;
    object-fit: cover;
    position: absolute;
    right: 15px;
  }
  
  .produto-info {
    padding: 20px;
  }
  
  .produto-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .produto-info p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .produto-info .descricao {
    color: #666;
  }
  
  .produto-info .preco {
    font-weight: bold;
    font-size: 18px;
    color: #a3a3a3;
  }
  
  .produto-card button {
    display: block;
    width: 30%;
    background-color: #262626;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  
  .produto-card button:hover {
    background-color: #141414;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .botao-link {
    display: inline-block;
    padding: 20px 30px;
    background-color: #ffa39c;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
  }

  .botao-link:hover {
    background-color: #f38780;
  }

  .botao-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffa39c;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .botao-voltar:hover {
    background-color: #f38780;
  }

  .botao-concluir {
    display: inline-block;
    padding: 10px 20px;
    background-color: #21a027;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .botao-concluir:hover {
    background-color: #156e1a;
  }


  .carrinho {
    background-color: #ffa39c;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .carrinho:hover {
    background-color: #f38780;
  }
  
  .carrinho i {
    margin-right: 8px;
  }


  .quantidade {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 14px;
  }

  #carrinhoContainer {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#carrinhoContainer p {
    font-size: 1.1rem;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.carrinho-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.carrinho-item:last-child {
    border-bottom: none;
}

.carrinho-item p {
    font-size: 1rem;
    color: #333;
}

.carrinho-item button {
    padding: 8px 15px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carrinho-item button:hover {
    background-color: #c82333;
}

/* Estilo para o carrinho vazio */
#carrinhoContainer p {
    font-size: 1.2rem;
    color: #777;
    margin-top: 20px;
}


#calculoFrete {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  width: 300px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

#calculoFrete label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#calculoFrete input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1rem;
}

#calculoFrete button {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#calculoFrete button:hover {
  background-color: #45a049;
}

#valorFrete {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  font-family: Arial, sans-serif;
}




.promo-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o alerta na tela */
  background-color: #dbca0c;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden; /* Inicia oculto */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.promo-alert.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(20px); /* Ativa o movimento para baixo */
}

@keyframes slideDownFade {
  from {
      transform: translateX(-50%) translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(-50%) translateY(20px);
      opacity: 1;
  }
}
.promo-message {
  flex: 1;
  padding-right: 20px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: rgb(255, 0, 0);
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
}

.close-btn:hover {
  color: #902e2e;
}

.pesquisa-container {
  text-align: center;
  margin: 20px 0;
}

#barraPesquisa {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#barraPesquisa::placeholder {
  color: #888; /* Muda a cor do placeholder */
  opacity: 1;  /* Garantir que o placeholder seja visível */
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {
  nav#jorge ul {
    left: 50%;
    transform: translateX(-50%);
  }

  .produto-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  nav#jorge ul {
    position: static;
    text-align: center;
    margin-top: 20px;
  }

  .catalogo {
    flex-direction: column;
    align-items: center;
  }

  .produto-card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 150px;
  }

  .hero {
    padding: 50px 10px;
  }

  .hero h2, .hero p {
    font-size: 1.5rem;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
  }

  .produto-card {
    width: 100%;
    padding: 10px;
  }

  footer {
    font-size: 0.8rem;
  }
}